<div class="py-4 pl-12 pr-3 border-b w-full flex justify-between items-center">
  <!--Topbar-->
  <div class="flex text-gray-500 items-center ">
      <svg id="menubtn" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 md:hidden cursor-pointer" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
      <h1 class=" text-3xl text-gray-700 font-semibold font-sans ml-2 uppercase">Danatea</h1>
  </div>
  <div class="flex items-center space-x-3">
      <h4 *ngIf="user$|async as userr" class="font-semibold text-primary-100 md:block hidden">Hello {{userr.email}}</h4>
      <div
          class="rounded-full overflow-hidden border border-gray-600 border-opacity-40 bg-white h-12 w-12 flex items-center justify-center">
          <img src="../../../../assets/img/admin.jpg" alt="">
      </div>
  </div>
</div>


      <!-- <div class="px-3 py-2">
        <h6 (click)="logout()" class="text-decoration-none text-white" style="cursor: pointer;">Logout  </h6>
      </div>
    </div>
    <hr>
   <span *ngIf="user$|async as userr">
      Hello {{userr.email}}
    </span>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
  </div>
</div> -->
